 <div style="margin-left:5%;margin-right:5%;margin-top:2%;">
            <div style="border-top: 1px solid #dfdfdf;"> </div>
            <ul style="background:orange;">

                <div style="margin-left:3%;background:white;padding-left:10px;">
                    <div style="position: relative;float:right;">Opened : 18 Mar 21
                    </div>

                        RU market PayOrder Issue

                    <div style="position: relative;float:right; margin-right:3%;">Country : Russia
                    </div>

                    <div style="position: relative;float:bottom;margin-top:10px;">OnGoing
                            <img style="width:15px;height:12px;position: absolute;margin-top:7px;" src="red-circle.png">

                            <button onclick="show_hide()" style="float:right;">Update Issue</button>

                    </div>


                </div>
            </ul>

            <div style="border-top: 1px solid #dfdfdf;"></div>
            <ul style="background:orange;">
            <div style="margin-left:3%;background:white;padding-left:10px;">
                <div style="position: relative;float:right;">Opened : 17 Mar 21 </div>
                Customer Unable to make payment

                <div style="position: relative;float:right; margin-right:3%;">Country : Global </div>
                  <div style="position: relative;float:bottom;margin-top:10px;">OnGoing
                        <img style="width:15px;height:12px;position: absolute;margin-top:7px;" src="red-circle.png">
                        <button style="float:right;">Update Issue</button>
                        <div>
                                                                                                          <input id="inputStyle" type="text"> </input>
                                                              </div>
                  </div>

            </div>

            </ul>
            <div style="border-top: 1px solid #dfdfdf;"</div>

        </div>